@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

html,
body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
  margin: auto;
}

h1 {
  padding-top: 1em;
  line-height: 1em;
  font-size: 3em;
  text-align: center;
}

span {
  font-size: 0, 2em;
  font-weight: 100;
}

h3 {
  color: #c2128d;
}

section {
  font-family: sans-serif;
  color: rgb(230, 228, 228);
}

#logo {
  width: 10%;
  padding-top: 2em;
  padding-left: 3em;
}

a {
  text-decoration: none;
}

#timer {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

#quiz {
  margin: 20px;
  text-align: center;
}

#answers {
  display: grid;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 2;
}

.answer {
  display: flex;
  margin: 10px auto;

  width: 300px;
  text-align: center;
  border-top: 3px solid white;
  border: 3px outset rgba(255, 255, 255, 0.845);
  border-bottom: transparent;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  justify-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  padding: 17px 40px;
  background-color: rgba(255, 255, 255, 0.086);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#porco {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 40px;
}

#porca {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 40px;
}

#timer {
  margin-top: 20px;
}

#question-number {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px; /* scegliere una larghezza massima a piacere */
  padding: 20px;
  color: white;
  text-align: center;
}

#question-number span {
  color: #bf009e;
}


button:hover {
  letter-spacing: 3px;
  background: linear-gradient(#b00087, #bf009e, #7e046a);
  color: hsl(0, 0%, 100%);
  box-shadow: #f300ba(93 24 220) 0px 2px 2px 0px;
  border-bottom: 3px outset #f300ba;
  border-top: 3px outset white;
}

button:active {
  letter-spacing: 3px;
  background-color: #b00087;
  color: hsl(0, 0%, 100%);
  box-shadow: #b00087;
  transform: translateY(10px);
  transition: 100ms;
}

body {
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
}

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}