@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



html, body{
    background-image:url(/Build_week_1/assets/img/bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    color: white;
    font-family: 'Outfit', sans-serif;
    margin: auto;
    padding-left: 3em;
    
}

h1{
    padding-top: 1em;
    line-height: 1.0em;
    font-size: 4em;
   
}

span{
    font-size: 0,2em;
    font-weight: 100;
    
}

h3{
    color: #c2128d;
}

strong{
    color: white
}

section{
    font-family: sans-serif;
    color: rgb(230, 228, 228);
}

#logo{
    width: 10%;
    padding-top: 2em;
}

a{
    text-decoration: none;
}

#timer {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
  }
  
  #quiz {
    margin: 20px;
  }
  

  
  #answers {
    display: grid;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
     
  }
  
  .answer {
    display: flex;
    margin: 10px auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    background: transparent;
    color: white;
    justify-self: stretch;
    justify-content: center;
    flex-wrap: wrap;
    
  }

    #porco {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 40px;
    }
    
    #porca{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 40px;
         
    }
    
  #timer {
    margin-top: 20px;
  }

  footer{
    
    
    
  }
  #question-number {
    
    position: fixed;
    bottom: 0em;
    text-align: center;

  }
